<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        
        <form method="post" action="/register">
            <label for="name">name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="year">year:</label>
            <select id="year" name="year" required>
                <option value="">Select Year</option>
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option> 
            <input type="submit" value="Register">
        </form>
    </body>
</html>